hr {
    border: none;
    height: 5px;
    background-color: black;
    border-radius: 50px;
    margin: 10px 10px;
}

.app__section {
    margin: 10px;
}

.app__section__image {
    width: 200px;
    height: 100px;
}